@media screen and (max-width: 1280px) {
body{
width: 1280px;
}
}
.nav>li{
	float:left
}
#changett{
	margin-right: 4% !important;
}
.layui-nav-child{
	margin-left: 24% !important;
}
.fixed-table-container thead th .th-inner{
	text-align: center;
}
.fixed-table-container thead{
	background: #1B1B1B !important;
}
.fixed-table-container thead th{
	border: 0px !important;
}
.fixed-table-container{
	border: 0px !important;
}
#real-tbodyAll>tr>td{
	border: 0 !important;
}
#real-datatableAll>tbody>tr>td{
	border:0 !important;
}
#real-datatableAll{
	border:0;
}
.fixed-table-body{
	margin-top: -1px;
}
.pagination>li>a{
    border:0;
    background: #363636 !important;
	font-size: 14px;
}
.pagination>.active>a{
	background-color: #737AE8 !important;
}
.table-striped > tbody > tr:nth-child(2n+1){
	background-color: #575757 !important;
}
.table-striped > tbody > tr:nth-child(2n){
	background-color: #363636 !important;
}
/*.btn-default:hover {*/
	/*color: #ffffff !important;*/
	/*border-color: #ffffff !important;*/
/*}*/
.el-date-table td.in-range div{
	background-color: #4a2aff !important;
	color: #ffffff;
}
/*.el-date-editor--daterange.el-input__inner:hover{*/
	/*color: #ffffff !important;*/
/*}*/
.btn-default {
	border-color: #ffffff !important;
}
.el-input__inner{
	border: 1px solid #ffffff !important;
}
.col-sm-12 {
    width: 60% !important;
}
.timePick{
	width: 251px !important;
	background: #363636 !important;
}
.el-date-range-picker.has-sidebar {
	width: 20% !important;
}
.el-picker-panel__content.el-date-range-picker__content.is-right{
	display: none !important;
}
.el-date-range-picker .el-picker-panel__body {
	min-width: 180px !important;
}
.el-picker-panel__content.el-date-range-picker__content.is-left{
	width: 100% !important;
}
/*.el-date-range-picker__content {*/
	/*width: 100% !important;*/
/*}*/
.el-picker-panel [slot=sidebar], .el-picker-panel__sidebar {
	width: 17% !important;
}
.el-range-editor.is-active, .el-range-editor.is-active:hover {
	border-color: #4a2aff !important;
}
.el-date-table td.end-date span{
	background-color: #4a2aff !important;
}
.el-date-table td.start-date span{
	background-color: #4a2aff !important;
}
  .el-picker-panel__shortcut:hover {
	color: #4a2aff !important;
}
.el-picker-panel {
	line-height: 20px !important;
}
.el-date-table td.available:hover {
	color: #4a2aff !important;
}
.el-picker-panel__body{
	margin-left: 18% !important;
}
.el-range-input{
	background: #363636 !important;
	color: #c0c0c0 !important;
}
.el-range-separator{
	color: #c0c0c0 !important;
}
.el-picker-panel__sidebar{
	min-width: 70px !important;
}
.el-picker-panel el-date-range-picker el-popper has-sidebar{
	min-width: 340px !important;
}
.laydate-footer-btns span{
	border: 1px solid #4a2cf8 !important;
	background-color: #4a2cf8 !important;
}
.layui-laydate .layui-this{
	background-color: #4a2cf8 !important;
}
.highcharts-container{
	background: #363636 !important;
}
/*.highcharts-root{*/
	/*margin-top:10px !important;*/
	/*width: 1656px !important;*/
/*}*/
.real-top>.p-float:hover{
	background-color: #363636 !important;
}
.real-table-All{
	background: #363636;
	margin-top: .8%;
	padding-left: 2%;
	padding-right: 2%;
}
#div-one{
	 /*background: #363636;*/
 }
.real-table-All>table>tbody>tr{
	border: none !important;
}
.real-btnAll{
	text-align: center;
	background: #1E9FFF;
	float: right;
	width: 60px;
	height: 34px;
	line-height: 34px;
	color: #fff;
	border-radius: 4px;
	margin-bottom: 1.5%;
}
#cha{
	width: 60px;
	height: 34px;
	background-color: #1E9FFF;
	color: #fff;
	border-radius: 4px;
}
.classpageinner{
	position: relative;
}
#page-inner{
	padding-left: 13%;
}
.main{
	margin-top: 3%;
}
.calcscrollout{
	top: 0 !important;
	left: 0 !important;
	width: 200px !important;
	height: 150px !important;
	overflow: scroll !important;
}
.calcscrollout::-webkit-scrollbar,.fixed-table-body::-webkit-scrollbar{
	width: 7px !important;
	height: 7px !important;
	background: #fff !important;
}
.calcscrollout::-webkit-scrollbar-track,.fixed-table-body::-webkit-scrollbar-track{
	background: #fff !important;
	border: 1px solid #ddd !important;
	margin-right: 4px !important;
}
.calcscrollout::-webkit-scrollbar-thumb,.fixed-table-body::-webkit-scrollbar-thumb{
	height: 7px !important;
	border: 1px solid #ccc !important;
	background-color: #575757 !important;
}
.el-input__inner{
	background: #363636 !important;
	color: #ffffff !important;
	text-align: center !important;
	height: 34px !important;
}
